---
---

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Accessible Color Palette Generator</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script defer src="js/bundle.js"></script>

</head>

<body>

  <header>
    <h1>Accessible Color Palette Generator</h1>
  </header>

  <main>

    <form>
      <label for="accentColor">Accent</label>
      <input type="text" id="accentColor">
      <button id="generateBtn">Generate</button>
    </form>
    <div id="palette">
      <div id="accent">
        <span class="label">Seed</span>
        {% include swatch.html id="seed" %}
      </div>
      <div id="backgrounds">
        <span class="label">Backgrounds</span>
        {% include swatch.html id="canvas" %}
        {% include swatch.html id="card" %}
      </div>
      <div id="baseline">
        {% include swatch.html id="nonContentBaseline" %}
        {% include swatch.html id="contentBaseline" %}
      </div>
      <div id="accent">
        {% include swatch.html id="nonContentFaint" %}
        {% include swatch.html id="nonContentSubdued" %}
        {% include swatch.html id="nonContentDefault" %}
        {% include swatch.html id="contentSubdued" %}
        {% include swatch.html id="contentDefault" %}
      </div>
    </div>

  </main>

</body>

</html>
