---
---

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Accessible Color Palette Generator</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script defer src="js/bundle.js"></script>

</head>

<body>

  <header>
    <h1>Accessible Color Palette Generator</h1>
  </header>

  <main>

    <form>
      <label for="accentColor">Accent</label>
      <input type="text" id="accentColor">
      <button id="generateBtn">Generate</button>
    </form>

    <div id="palette">

      <div id="accent">
        <figure class="color-swatch">
          <figcaption>Seed</figcaption>
          {% include swatch.html id="seed" %}
        </figure>
      </div>

      <div id="backgrounds" class="row ui-swatches">
        <figure class="color-swatch">
          <figcaption>Canvas</figcaption>
          {% include swatch.html id="canvas" %}
        </figure>
        <figure class="color-swatch">
          <figcaption>Card</figcaption>
          {% include swatch.html id="card" %}
        </figure>
      </div>

      <div class="row">

        <div id="nonContentGroup" class="col">
          <figure class="color-swatch">
            <figcaption>Accent Non-Content Baseline</figcaption>
            {% include swatch.html id="accentNonContentBaseline" %}
          </figure>
          <div class="row ui-swatches">
            <figure class="color-swatch">
              <figcaption>Accent Non-Content Faint</figcaption>
              {% include swatch.html id="accentNonContentFaint" %}
            </figure>
            <figure class="color-swatch">
              <figcaption>Accent Non-Content Subdued</figcaption>
              {% include swatch.html id="accentNonContentSubdued" %}
            </figure>
            <figure class="color-swatch">
              <figcaption>Accent Non-Content Strong</figcaption>
              {% include swatch.html id="accentNonContentStrong" %}
            </figure>
          </div>
          <div class="row ui-swatches">
            <figure class="color-swatch">
              <figcaption>Neutral Non-Content Faint</figcaption>
              {% include swatch.html id="neutralNonContentFaint" %}
            </figure>
            <figure class="color-swatch">
              <figcaption>Neutral Non-Content Subdued</figcaption>
              {% include swatch.html id="neutralNonContentSubdued" %}
            </figure>
            <figure class="color-swatch">
              <figcaption>Neutral Non-Content Strong</figcaption>
              {% include swatch.html id="neutralNonContentStrong" %}
            </figure>
          </div>
        </div>

        <div id="contentGroup" class="col">
          <figure class="color-swatch">
            <figcaption>Accent Content Baseline</figcaption>
            {% include swatch.html id="accentContentBaseline" %}
          </figure>
          <div class="row ui-swatches">
            <figure class="color-swatch">
              <figcaption>Accent Content Subdued</figcaption>
              {% include swatch.html id="accentContentSubdued" %}
            </figure>
            <figure class="color-swatch">
              <figcaption>Accent Content Strong</figcaption>
              {% include swatch.html id="accentContentStrong" %}
            </figure>
          </div>
          <div class="row ui-swatches">
            <figure class="color-swatch">
              <figcaption>Neutral Content Subdued</figcaption>
              {% include swatch.html id="neutralContentSubdued" %}
            </figure>
            <figure class="color-swatch">
              <figcaption>Neutral Content Strong</figcaption>
              {% include swatch.html id="neutralContentStrong" %}
            </figure>
          </div>
        </div>

      </div>

    </div>

    <div id="canvas">

      <div class="col">
        {% include demo-col-1.html %}
      </div>

      <div class="col">
        {% include demo-col-2.html %}
      </div>

      <div class="col">
        {% include demo-col-3.html %}
      </div>

    </div>

  </main>

</body>

</html>
