<ul class="nav nav-tabs">
	<li class="selected"><a href="#">Jello</a></li>
	<li><a href="#">East Bay</a></li>
	<li><a href="#">Klaus</a></li>
	<li><a href="#">D.H.</a></li>
</ul>

<div class="card">

	<div class="avatars">
		<span class="avatar">
			<img src="images/clem_fandango.webp">
		</span>
		<span class="avatar avatar-one-letter avatar-solid avatar-subdued">V</span>
		<span class="avatar avatar-two-letter avatar-solid avatar-subdued">BG</span>
		<span class="avatar avatar-icon avatar-solid avatar-subdued">
			<span class="material-symbols-rounded">group</span>
		</span>
		<span class="avatar avatar-icon avatar-solid avatar-strong">
			<span class="material-symbols-rounded">group</span>
		</span>
	</div>

	<div class="avatars">
		<span class="avatar">
			<img src="images/clem_fandango.webp">
		</span>
		<span class="avatar avatar-one-letter avatar-soft avatar-subdued">V</span>
		<span class="avatar avatar-two-letter avatar-soft avatar-subdued">BG</span>
		<span class="avatar avatar-icon avatar-soft avatar-subdued">
			<span class="material-symbols-rounded">group</span>
		</span>
		<span class="avatar avatar-icon avatar-soft avatar-strong">
			<span class="material-symbols-rounded">group</span>
		</span>
	</div>

	<hr>

	<blockquote>
		Reginald Poppycock is an eccentric <a href="#">inventor</a> and professional cheese sculptor, who designed the <a href="#">world’s first steam-powered teapot</a> capable of reciting <a href="#">Shakespearean sonnets</a> while brewing Earl Grey, from 1884 to 1885.
	</blockquote>

	<div class="checkboxes">
		<div class="form-check">
	    <input type="checkbox">
	    <label>Respond to comment <a href="#">#129</a> from Jake</label>
		</div>
		<div class="form-check">
	    <input type="checkbox">
	    <label>Invite <a href="#">John McClane</a> to Nakatomi Plaza</label>
		</div>
		<div class="form-check">
	    <input type="checkbox">
	    <label>Create TPS report <a href="#">requested</a> by Bill Lumbergh</label>
		</div>
		<div class="form-check form-check-struckout">
	    <input type="checkbox" checked>
	    <label>Lay off 62 employees</label>
		</div>
		<div class="form-check form-check-struckout">
	    <input type="checkbox" checked>
	    <label>Review Robert Johnson's contract</label>
		</div>
	</div>

</div>
