<div class="card">
  
  <form>
    <label>Name</label>
    <div class="row">
      <input type="text">
      <button class="btn">Submit</button>
    </div>
  </form>

  <ul class="menu">
    <li class="selected"><a href="#">John</a></li>
    <li><a href="#">Paul</a></li>
    <li><a href="#">George</a></li>
    <li><a href="#">Ringo</a></li>
    <li><a href="#">Billy</a></li>
  </ul>

  <div class="alert">
    <span class="material-symbols-rounded">info</span>
    Please upgrade to the new version.
  </div>

  <div>
    <span class="tag">Fully-featured</span>
    <span class="tag tag-outlined">Open source</span>
  </div>

  <div>
    <button class="btn">Submit</button>
    <button class="btn btn-outlined">Cancel</button>
    <button class="btn btn-soft">Skip</button>
  </div>

  <div>
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="radio">
    <input type="radio" checked>
    <input type="checkbox" role="switch">
    <input type="checkbox" role="switch" checked>
  </div>

</div>

<div class="card media">
  <img src="images/clem_fandango.webp">
  <div class="text-pair text-pair-md-sm">
    <div class="text-md">Clem Fandango</div>
    <div class="text-sm">clem.fandango@example.com</div>
  </div>
</div>

