<div class="card">
	
	<div class="toolbar">
		<div class="btn-group">
			<button class="btn"><span class="material-symbols-rounded">format_bold</span></button>
			<button class="btn"><span class="material-symbols-rounded">format_italic</span></button>
			<button class="btn"><span class="material-symbols-rounded">format_underlined</span></button>
		</div>
		<div class="btn-group">
			<button class="btn"><span class="material-symbols-rounded">format_list_numbered</span></button>
			<button class="btn"><span class="material-symbols-rounded">format_list_bulleted</span></button>
			<button class="btn"><span class="material-symbols-rounded">format_align_left</span></button>
		</div>
		<div class="btn-group">
			<button class="btn"><span class="material-symbols-rounded">link</span></button>
			<button class="btn"><span class="material-symbols-rounded">image</span></button>
			<button class="btn"><span class="material-symbols-rounded">theaters</span></button>
		</div>
	</div>

	<button class="btn btn-select">Old Fashioned</button>

</div>

<form class="card">
	<div class="form-group">
    <label>Name</label>
    <input type="text">
	</div>
	<div class="form-group">
    <label>Email</label>
    <input type="email">
	</div>
	<div class="form-group">
    <label>Password</label>
    <input type="password">
	</div>
	<button class="btn">Create account</button>
	<p class="or"><span>Or</span></p>
	<button class="btn btn-outlined">Continue with GitHub</button>
</form>

<div class="toast">
	Task failed successfully.
</div>
