<!-- Light mode -->
<link rel="icon" type="image/png" href="images/favicons/light/favicon-196x196.png" sizes="196x196" media="(prefers-color-scheme: light)" />
<link rel="icon" type="image/png" href="images/favicons/light/favicon-96x96.png" sizes="96x96" media="(prefers-color-scheme: light)" />
<link rel="icon" type="image/png" href="images/favicons/light/favicon-32x32.png" sizes="32x32" media="(prefers-color-scheme: light)" />
<link rel="icon" type="image/png" href="images/favicons/light/favicon-16x16.png" sizes="16x16" media="(prefers-color-scheme: light)" />
<link rel="icon" type="image/png" href="images/favicons/light/favicon-128.png" sizes="128x128" media="(prefers-color-scheme: light)" />

<!-- Dark mode -->
<link rel="icon" type="image/png" href="images/favicons/dark/favicon-196x196.png" sizes="196x196" media="(prefers-color-scheme: dark)" />
<link rel="icon" type="image/png" href="images/favicons/dark/favicon-96x96.png" sizes="96x96" media="(prefers-color-scheme: dark)" />
<link rel="icon" type="image/png" href="images/favicons/dark/favicon-32x32.png" sizes="32x32" media="(prefers-color-scheme: dark)" />
<link rel="icon" type="image/png" href="images/favicons/dark/favicon-16x16.png" sizes="16x16" media="(prefers-color-scheme: dark)" />
<link rel="icon" type="image/png" href="images/favicons/dark/favicon-128.png" sizes="128x128" media="(prefers-color-scheme: dark)" />