<aside id="settings">

  <form>

    <h2>Settings</h2>

    <div class="form-group">
      <label for="accentColor">Accent</label>
      <input type="text" id="accentColor">
    </div>

    <div class="form-group">
      <label for="canvasContrast">Canvas contrast</label>
      <input type="text" id="canvasContrast" value="1.1">
    </div>

    <div class="form-group">
      <label for="cardContrast">Card contrast</label>
      <input type="text" id="cardContrast" value="1.033">
    </div>

    <div class="form-group">
      <label for="softContrast">Soft contrast</label>
      <input type="text" id="softContrast" value="1.1">
    </div>

    <div class="Form-group">
      <label for="strongContrast">Strong contrast</label>
      <input type="text" id="strongContrast" value="1.7">
    </div>

    <div class="form-group">
      <label for="neutralSaturation">Neutral saturation</label>
      <input type="text" id="neutralSaturation" value="0.333">
    </div>

    <div class="form-group">
      <label for="neutralContrast">Neutral contrast</label>
      <input type="text" id="neutralContrast" value="1.3">
    </div>

    <button id="generateBtn" class="btn">Generate</button>

  </form>

</aside>