<meta property="og:image" content="https://thisisfranciswu.com/enterprise-ui-palette-generator/images/social_media_thumbnail.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="940" />
<meta property="og:image:height" content="608" />
<meta property="og:title" content="Accessible Color Palette Generator" />
<meta property="og:description" content="This is a tool to automate the generation of accessible enterprise UI color palettes." />
<meta property="og:url" content="https://thisisfranciswu.com/enterprise-ui-palette-generator" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://thisisfranciswu.com/enterprise-ui-palette-generator/images/social_media_thumbnail.jpg" />
<meta name="twitter:title" content="Accessible Color Palette Generator" />
<meta name="twitter:description" content="This is a tool to automate the generation of accessible enterprise UI color palettes." />
<meta name="twitter:site" content="@thisisfranciswu" />
<meta name="twitter:creator" content="@thisisfranciswu" />
