body {
  line-height: var(--bodyLineHeight);
  padding: var(--space-lg);
  font-family: sans-serif;
  * {
    font-size: var(--fontSize-md);
    box-sizing: border-box;
  }
}

.container {
  max-width: 1136px;
  margin: 0 auto;
}

h1 {
  line-height: var(--headingLineHeight);
  font-size: var(--fontSize-h1);
  letter-spacing: -0.022em;
}

main {
  @include flex-col(var(--space-lg));
}

#palette {

  @include flex-col(var(--space-md));

  .color-swatch {
    margin: 0;
    figcaption {
      @include font-size("sm");
      margin-bottom: var(--space-sm);
      color: var(--color-neutralContentSubdued);
      line-height: 1;
      text-align: center;
    }
  }

  .row {
    @include flex-row(var(--space-xs));
    > * {
      flex-grow: 1;
      width: 100%;
    }
  }

  .col {
    @include flex-col(var(--space-md));
  }

  .swatch {
    @include border-radius("md");
    height: var(--space-md);
    width: 100%;
    border: none;
    padding: 0;
    overflow: hidden;
    position: relative;
    span {
      display: block;
      height: 100%;
      width: 100%;
      z-index: 2;
      position: relative;
    }
    &:after {
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      background: conic-gradient(
        #fff 90deg,
        rgba(107, 107, 107, 0.075) 90deg 180deg,
        #fff 180deg 270deg,
        rgba(107, 107, 107, 0.075) 270deg
      );
      background-repeat: repeat;
      background-size: var(--space-md) var(--space-md);
      background-position: top left;
    }
  }
  .ui-swatches {
    .swatch {
      height: var(--space-xl);
    }
  }

  #nonContentGroup {
    flex-grow: 3;
  }
  #contentGroup {
    flex-grow: 2;
  }

  #seed > span { background-color: var(--color-seed); }
  #canvas > span { background-color: var(--color-canvas); }
  #card > span { background-color: var(--color-card); }
  #accentNonContentBaseline > span { background-color: var(--color-accentNonContentBaseline); }
  #accentContentBaseline > span { background-color: var(--color-accentContentBaseline); }
  #accentNonContentFaint > span { background-color: var(--color-accentNonContentFaint); }
  #accentNonContentSubdued > span { background-color: var(--color-accentNonContentSubdued); }
  #accentNonContentStrong > span { background-color: var(--color-accentNonContentStrong); }
  #accentContentSubdued > span { background-color: var(--color-accentContentSubdued); }
  #accentContentStrong > span { background-color: var(--color-accentContentStrong); }
  #neutralNonContentFaint > span { background-color: var(--color-neutralNonContentFaint); }
  #neutralNonContentSubdued > span { background-color: var(--color-neutralNonContentSubdued); }
  #neutralNonContentStrong > span { background-color: var(--color-neutralNonContentStrong); }
  #neutralContentSubdued > span { background-color: var(--color-neutralContentSubdued); }
  #neutralContentStrong > span { background-color: var(--color-neutralContentStrong); }

}

#canvas {

  @include flex-row(var(--space-lg));
  @include border-radius("md");
  background-color: var(--color-canvas);
  padding: var(--space-lg);

  .material-symbols-rounded {
    font-size: var(--fontSize-lg);
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }

  > .col {
    @include flex-col(var(--space-lg));
    flex-grow: 1;
    width: 100%;
  }

  .card {
    @include flex-col(var(--space-md));
    @include border-radius("md");
    background-color: var(--color-card);
    padding: var(--space-md);
    box-shadow: 0 0 0 1px var(--color-neutralNonContentFaint);
    &.row {
      flex-direction: row;
    }
  }

  * {
    color: var(--color-neutralContentStrong);
  }

  a {
    color: var(--color-accentContentStrong);
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    @include border-radius("md");
    background: var(--color-card);
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
    padding: var(--space-sm) calc(var(--space-md) / 2);
    border: none;
    flex-grow: 1;
    width: 100%;
  }

  .btn {
    @include border-radius("md");
    padding: var(--space-sm) var(--space-md);
    background-color: var(--color-accentNonContentStrong);
    color: var(--color-card);
    border: none;
    line-height: 1.6;
    &.btn-outlined {
      background: none;
      box-shadow: inset 0 0 0 1px var(--color-accentNonContentSubdued);
      color: var(--color-accentContentStrong);
    }
    &.btn-soft {
      background: var(--color-accentNonContentFaint);
      color: var(--color-accentContentStrong);
    }
    &.btn-select {
      background: none;
      box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
      color: var(--color-neutralContentStrong);
      text-align: left;
      position: relative;
      &:after {
        display: block;
        font-family: "Material Symbols Rounded";
        content: "keyboard_arrow_down";
        position: absolute;
        top: 8px;
        right: 10px;
      }
    }
  }

  form {
    .row {
      @include flex-row(var(--space-xs));
    }
    .form-group {
      label {
        display: block;
        margin-bottom: var(--space-xs);
      }
    }
    .or {
      @include flex-row(var(--space-md));
      margin: 0;
      span {
        font-size: var(--fontSize-sm);
        line-height: 1;
        text-transform: uppercase;
        color: var(--color-neutralContentSubdued);
        flex-grow: 0;
      }
      &:before,
      &:after {
        display: block;
        content: "";
        flex-grow: 1;
        height: 1px;
        position: relative;
        top: calc(50% - 0.5px);
      }
      &:before {
        background-image: linear-gradient(
          to right,
          transparent,
          var(--color-neutralNonContentSubdued)
        );
      }
      &:after {
        background-image: linear-gradient(
          to right,
          var(--color-neutralNonContentSubdued),
          transparent
        );
      }
    }
  }

  .menu {
    @include border-radius("md");
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        display: block;
        padding: 8px 10px;
        text-decoration: none;
        color: var(--color-neutralContentSubdued);
      }
      &.selected {
        a {
          background: var(--color-accentNonContentFaint);
          color: var(--color-neutralContentStrong);
        }
      }
    }
  }

  .alert {
    @include flex-row(var(--space-md));
    @include border-radius("md");
    color: var(--color-accentContentStrong);
    background: var(--color-accentNonContentFaint);
    padding: calc(var(--space-md) * 0.75) var(--space-md);
    .material-symbols-rounded {
      color: var(--color-accentContentStrong);
      font-size: var(--space-md);
      line-height: var(--bodyLineHeight);
    }
  }

  .tag {
    @include border-radius("mx");
    color: var(--color-accentContentStrong);
    background: var(--color-accentNonContentFaint);
    padding: 0 var(--space-sm);
    font-size: var(--fontSize-sm);
    line-height: var(--bodyLineHeight);
    display: inline-block;
    &.tag-outlined {
      box-shadow: inset 0 0 0 1px var(--color-accentNonContentSubdued);
      background: none;
    }
  }

  input[type=checkbox],
  input[type=radio] {
    appearance: none;
    background: var(--color-card);
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
    height: var(--space-md);
    width: var(--space-md);
    vertical-align: text-bottom;
    position: relative;
    margin: calc((var(--bodyLineHeight) - var(--space-md)) / 2) 0;
    &:before {
      content: "";
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      top: 0;
    }
  }
  input[type=checkbox] {
    @include border-radius("sm");
    &:checked {
      background: var(--color-accentNonContentStrong);
      box-shadow: none;
      &:before {
        border-right: 0.125rem solid var(--color-card);
        border-bottom: 0.125rem solid var(--color-card);
        height: 50%;
        width: 25%;
        transform: rotate(45deg);
        margin-top: 12.5%;
        margin-left: 30%;
      }
    }
    &[role="switch"] {
      @include border-radius("mx");
      color: var(--color-card);
      background: var(--color-neutralNonContentSubdued);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      font-size: inherit;
      width: var(--space-lg);
      vertical-align: text-bottom;
      box-shadow: none;
      &:before {
        @include border-radius("mx");
        background: var(--color-card);
        content: "";
        border: none;
        transform: none;
        margin: 1px;
        width: calc(var(--space-md) - 2px);
        height: calc(var(--space-md) - 2px);
        position: absolute;
      }
      &:checked {
        background: var(--color-accentNonContentStrong);
        &:before {
          right: 0;
          left: auto;
        }
      }
    }
  }
  input[type=radio] {
    @include border-radius("mx");
    &:checked {
      box-shadow: inset 0 0 0 1px var(--color-accentNonContentStrong);
      &:before {
        @include border-radius("mx");
        background: var(--color-accentNonContentStrong);
        margin: 4px;
      }
    }
  }

  .media {
    @include flex-row(var(--space-md));
    img {
      @include border-radius("md");
      display: block;
      width: 2.8418rem;
      height: 2.8418rem;
    }
  }

  .text-pair {
    &.text-pair-md-sm {
      padding-bottom: 0.2434rem;
    }
    .text-sm {
      @include font-size("sm");
      color: var(--color-neutralContentSubdued);
    }
  }

  .btn-toolbar {
    @include flex-row(0);
    @include border-radius("md");
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
    overflow: hidden;
    .btn-group {
      @include flex-row(0);
      border-right: 1px solid var(--color-neutralNonContentSubdued);
      &:last-child {
        border: none;
      }
    }
    .btn {
      background: none;
      color: var(--color-neutralContentStrong);
      padding: var(--space-sm);
      span {
        width: var(--bodyLineHeight);
        line-height: var(--bodyLineHeight);
        display: block;
        text-align: center;
      }
    }
  }

  .toast {
    @include border-radius("md");
    padding: calc(var(--space-md) * 0.75) var(--space-md);
    color: var(--color-card);
    background: var(--color-neutralContentStrong);
  }

  .nav {
    &.nav-tabs {
      @include flex-row(0);
      box-sizing: border-box;
      border-bottom: 1px solid var(--color-neutralNonContentSubdued);
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
        a {
          display: block;
          padding: 8px 10px;
          text-decoration: none;
          position: relative;
          color: var(--color-neutralContentSubdued);
        }
        &.selected {
          a {
            color: var(--color-neutralContentStrong);
            &::after {
              display: block;
              content: "";
              height: 2px;
              width: 100%;
              bottom: 0;
              left: 0;
              position: absolute;
              background: var(--color-accentNonContentStrong);
            }
          }
        }
      }
    }
  }

  .avatars {
    @include flex-row(var(--space-md));
    .avatar {
      @include border-radius("mx");
      width: var(--space-xl);
      height: var(--space-xl);
      line-height: var(--space-xl);
      display: block;
      overflow: hidden;
      text-align: center;
      img {
        display: block;
        height: 100%;
        width: 100%;
      }
      &.avatar-solid {
        &.avatar-subdued {
          background: var(--color-accentNonContentSubdued);
        }
        &.avatar-strong {
          background: var(--color-accentNonContentStrong);
        }
        color: var(--color-card);
      }
      &.avatar-soft {
        &.avatar-subdued {
          color: var(--color-accentContentSubdued);
        }
        &.avatar-strong {
          color: var(--color-accentContentStrong);
        }
        background: var(--color-accentNonContentFaint);
      }
      &.avatar-icon {
        span {
          font-size: calc(var(--fontSize-md) * 1.5);
          font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
          line-height: var(--space-xl);
        }
        &.avatar-solid {
          span { color: var(--color-card); }
        }
        &.avatar-soft {
          &.avatar-subdued {
            span {
              color: var(--color-accentContentSubdued);
            }
          }
          &.avatar-strong {
            span {
              color: var(--color-accentContentStrong);
            }
          }
        }
      }
    }
  }

  hr {
    display: block;
    height: 0;
    width: 100%;
    border-bottom: 1 solid var(--color-neutralNonContentSubdued);
  }

  blockquote {
    margin: 0;
    padding: 0 0 0 var(--space-md);
    border-left: 4px solid var(--color-neutralNonContentSubdued);
  }

  .checkboxes {
    @include border-radius("md");
    background: var(--color-neutralNonContentFaint);
    padding: var(--space-md);
    .form-check {
      @include flex-row(var(--space-sm));
      input[type=checkbox] {
        flex: none;
      }
      &.form-check-struckout {
        label {
          color: var(--color-neutralContentSubdued);
          text-decoration: line-through;
        }
      }
    }
  }

}
