body {
  font-family: sans-serif;
  line-height: 1.6;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#palette {

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .color-swatch {
    margin: 0;
    figcaption {
      font-size: 0.75rem;
      line-height: 1;
      text-align: center;
      padding-bottom: 0.75rem;
      margin-bottom: 0.75rem;
      color: rgba(81, 81, 81, 0.79);
      position: relative;
      &:after {
        display: block;
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          to right,
          transparent,
          rgba(107, 107, 107, 0.73),
          transparent
        );
      }
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
    > * {
      flex-grow: 1;
      width: 100%;
    }
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .swatch {
    width: 100%;
    height: 1rem;
    border: none;
    padding: 0;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    span {
      display: block;
      height: 100%;
      width: 100%;
      z-index: 2;
      position: relative;
    }
    &:after {
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      background: conic-gradient(
        #fff 90deg,
        rgba(107, 107, 107, 0.075) 90deg 180deg,
        #fff 180deg 270deg,
        rgba(107, 107, 107, 0.075) 270deg
      );
      background-repeat: repeat;
      background-size: 1rem 1rem;
      background-position: top left;
    }
  }
  .ui-swatches {
    .swatch {
      height: 4rem;
    }
  }

  #nonContentGroup {
    flex-grow: 3;
  }
  #contentGroup {
    flex-grow: 2;
  }

  #seed > span { background-color: var(--seed-color); }
  #canvas > span { background-color: var(--canvas-color); }
  #card > span { background-color: var(--card-color); }
  #accentNonContentBaseline > span { background-color: var(--accentNonContentBaseline-color); }
  #accentContentBaseline > span { background-color: var(--accentContentBaseline-color); }
  #accentNonContentFaint > span { background-color: var(--accentNonContentFaint-color); }
  #accentNonContentSubdued > span { background-color: var(--accentNonContentSubdued-color); }
  #accentNonContentStrong > span { background-color: var(--accentNonContentStrong-color); }
  #accentContentSubdued > span { background-color: var(--accentContentSubdued-color); }
  #accentContentStrong > span { background-color: var(--accentContentStrong-color); }
  #neutralNonContentFaint > span { background-color: var(--neutralNonContentFaint-color); }
  #neutralNonContentSubdued > span { background-color: var(--neutralNonContentSubdued-color); }
  #neutralNonContentStrong > span { background-color: var(--neutralNonContentStrong-color); }
  #neutralContentSubdued > span { background-color: var(--neutralContentSubdued-color); }
  #neutralContentStrong > span { background-color: var(--neutralContentStrong-color); }

}

#canvas {

  background-color: var(--canvas-color);
  border-radius: 4px;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  .material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    font-size: 1rem;
  }

  > .col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  .card {
    background-color: var(--card-color);
    border-radius: 4px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 0 1px var(--neutralNonContentFaint-color);
    &.row {
      flex-direction: row;
    }
  }

  * {
    color: var(--neutralContentStrong-color);
  }

  a {
    color: var(--accentContentStrong-color);
  }

  input[type=text] {
    box-shadow: inset 0 0 0 1px var(--neutralNonContentSubdued-color);
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    flex-grow: 1;
    background: var(--card-color);
    line-height: 1.6;
  }

  .btn {
    padding: 8px 10px;
    background-color: var(--accentNonContentStrong-color);
    border: 1px ;
    border-radius: 4px;
    color: var(--card-color);
    line-height: 1.6;
    &.btn-outlined {
      background: none;
      box-shadow: inset 0 0 0 1px var(--accentNonContentSubdued-color);
      color: var(--accentContentStrong-color);
    }
    &.btn-soft {
      background: var(--accentNonContentFaint-color);
      color: var(--accentContentStrong-color);
    }
    &.btn-select {
      background: none;
      box-shadow: inset 0 0 0 1px var(--neutralNonContentSubdued-color);
      color: var(--neutralContentStrong-color);
      text-align: left;
      position: relative;
      &:after {
        display: block;
        font-family: "Material Symbols Rounded";
        content: "keyboard_arrow_down";
        position: absolute;
        top: 8px;
        right: 10px;
      }
    }
  }

  form {
    .row {
      display: flex;
      flex-direction: row;
      gap: 0.25rem;
    }
    .form-group {
      label {
        display: block;
      }
      input[type=text],
      input[type=email],
      input[type=password] {
        box-shadow: inset 0 0 0 1px var(--neutralNonContentSubdued-color);
        border: none;
        border-radius: 4px;
        padding: 8px 10px;
        display: block;
        width: 100%;
        box-sizing: border-box;
        background: var(--card-color);
        line-height: 1.6;
      }
    }
    .or {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin: 0;
      span {
        font-size: 0.875rem;
        line-height: 1;
        text-transform: uppercase;
        color: var(--neutralContentSubdued-color);
        flex-grow: 0;
      }
      &:before,
      &:after {
        display: block;
        content: "";
        flex-grow: 1;
        height: 1px;
        margin-top: calc(0.875rem * 0.5);
      }
      &:before {
        background-image: linear-gradient(
          to right,
          transparent,
          rgba(107, 107, 107, 0.73)
        );
      }
      &:after {
        background-image: linear-gradient(
          to right,
          rgba(107, 107, 107, 0.73),
          transparent
        );
      }
    }
  }

  .menu {
    border: 1px solid var(--neutralNonContentSubdued-color);
    border-radius: 4px;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        display: block;
        padding: 8px 10px;
        text-decoration: none;
        color: var(--neutralContentSubdued-color);
      }
      &.selected {
        a {
          background: var(--accentNonContentFaint-color);
          color: var(--neutralContentStrong-color);
        }
      }
    }
  }

  .alert {
    color: var(--accentContentStrong-color);
    background: var(--accentNonContentFaint-color);
    border-radius: 4px;
    padding: 0.75rem 1rem;
  }

  .tag {
    border-radius: 100rem;
    color: var(--accentContentStrong-color);
    background: var(--accentNonContentFaint-color);
    padding: 0 8px;
    font-size: 0.875rem;
    line-height: 1.8285714286;
    display: inline-block;
    &.tag-outlined {
      background: none;
      box-shadow: inset 0 0 0 1px var(--accentNonContentSubdued-color);
    }
  }

  input[type=checkbox],
  input[type=radio] {
    appearance: none;
    background: var(--card-color);
    box-shadow: inset 0 0 0 1px var(--neutralNonContentSubdued-color);
    height: 1em;
    width: 1em;
    vertical-align: text-bottom;
    position: relative;
    margin: calc(((1rem * 1.6) - 1rem) * 0.5) 0;
    &:before {
      content: "";
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      top: 0;
    }
  }
  input[type=checkbox] {
    border-radius: 2px;
    &:checked {
      background: var(--accentNonContentStrong-color);
      box-shadow: none;
      &:before {
        border-right: 2px solid var(--card-color);
        border-bottom: 2px solid var(--card-color);
        height: 50%;
        width: 25%;
        transform: rotate(45deg);
        margin-top: 2px;
      }
    }
    &[role="switch"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      font-size: inherit;
      width: 1.5rem;
      border-radius: 100rem;
      vertical-align: text-bottom;
      margin: calc(((1rem * 1.6) - 1rem) * 0.5) 0;
      color: inherit;
      background: var(--neutralNonContentSubdued-color);
      box-shadow: none;
      &:before {
        content: "";
        border: none;
        transform: none;
        margin: 1px;
        width: 0.875rem;
        height: 0.875rem;
        background: var(--card-color);
        position: absolute;
        border-radius: 100rem;
      }
      &:checked {
        background: var(--accentNonContentStrong-color);
        &:before {
          right: 0;
          left: auto;
        }
      }
    }
  }
  input[type=radio] {
    border-radius: 100%;
    &:checked {
      box-shadow: inset 0 0 0 1px var(--accentNonContentStrong-color);
      &:before {
        border-radius: 100%;
        background: var(--accentNonContentStrong-color);
        margin: 4px;
      }
    }
  }

  .media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    img {
      display: block;
      width: 3.12375rem;
      height: 3.12375rem;
      border-radius: 4px;
    }
  }

  .text-pair {
    &.text-pair-md-sm {
      padding-bottom: 0.125rem;
    }
    .text-sm {
      font-size: 0.875rem;
      color: var(--neutralContentSubdued-color);
    }
  }

  .btn-toolbar {
    display: flex;
    flex-direction: row;
    gap: 0;
    box-shadow: inset 0 0 0 1px var(--neutralNonContentSubdued-color);
    border-radius: 4px;
    overflow: hidden;
    .btn-group {
      display: flex;
      flex-direction: row;
      flex-grow: 0;
      gap: 0;
      border-right: 1px solid var(--neutralNonContentSubdued-color);
      &:last-child {
        border: none;
      }
    }
    .btn {
      background: none;
      color: var(--neutralContentStrong-color);
      padding: 0.5rem;
      span {
        display: block;
        width: 1.6rem;
        line-height: 1.6;
        text-align: center;
      }
    }
  }

  .toast {
    color: var(--card-color);
    background: var(--neutralContentStrong-color);
    border-radius: 4px;
    padding: 0.75rem 1rem;
  }

  .nav {
    &.nav-tabs {
      display: flex;
      flex-direction: row;
      gap: 0;
      box-sizing: border-box;
      border-bottom: 1px solid var(--neutralNonContentSubdued-color);
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
        a {
          display: block;
          padding: 8px 10px;
          text-decoration: none;
          position: relative;
          color: var(--neutralContentSubdued-color);
        }
        &.selected {
          a {
            color: var(--neutralContentStrong-color);
            &::after {
              display: block;
              content: "";
              height: 2px;
              width: 100%;
              bottom: 0;
              left: 0;
              position: absolute;
              background: var(--accentNonContentStrong-color);
            }
          }
        }
      }
    }
  }

  .avatars {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .avatar {
      width: 2.5rem;
      height: 2.5rem;
      display: block;
      border-radius: 100%;
      overflow: hidden;
      text-align: center;
      line-height: 2.5rem;
      img {
        display: block;
        height: 100%;
        width: 100%;
      }
      &.avatar-solid {
        &.avatar-subdued {
          background: var(--accentNonContentSubdued-color);
        }
        &.avatar-strong {
          background: var(--accentNonContentStrong-color);
        }
        color: var(--card-color);
      }
      &.avatar-soft {
        &.avatar-subdued {
          color: var(--accentContentSubdued-color);
        }
        &.avatar-strong {
          color: var(--accentContentStrong-color);
        }
        background: var(--accentNonContentFaint-color);
      }
      &.avatar-icon {
        span {
          font-size: 1.5rem;
          font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
          line-height: 2.5rem;
        }
        &.avatar-solid {
          span { color: var(--card-color); }
        }
        &.avatar-soft {
          &.avatar-subdued {
            span {
              color: var(--accentContentSubdued-color);
            }
          }
          &.avatar-strong {
            span {
              color: var(--accentContentStrong-color);
            }
          }
        }
      }
    }
  }

  hr {
    display: block;
    height: 0;
    width: 100%;
    border-bottom: 1 solid var(--neutralNonContentSubdued-color);
  }

  blockquote {
    margin: 0;
    padding: 0 0 0 1rem;
    border-left: 4px solid var(--neutralNonContentSubdued-color);
  }

  .checkboxes {
    background: var(--neutralNonContentFaint-color);
    padding: 1rem;
    border-radius: 4px;
    .form-check {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      input[type=checkbox] {
        flex: none;
      }
      &.form-check-struckout {
        label {
          color: var(--neutralContentSubdued-color);
          text-decoration: line-through;
        }
      }
    }
  }

}
