@use "mixins";

:root {
  --complimentary: hsl(
    from var(--color-seed) calc(h + 180) max(calc(100 - s), 50) calc(100 - l/3)
  );
  --color-seed-complimentary: light-dark(
    var(--complimentary),
    hsl(from var(--complimentary) h calc(s - 20) calc(l - 20))
  ); // TODO: light dark doesn't respond currently
  --color-seed-triad-two: hsl(
    from var(--color-seed) calc(h + 180 + 60) max(calc(100 - s), 50)
      calc(100 - l/2)
  );
  --color-seed-triad-three: hsl(
    from var(--color-seed) calc(h + 180 - 60) max(calc(100 - s), 50)
      calc(100 - l/2)
  );

  --header-bg: var(--color-accentNonContentStrong);
  --header-color: hsl(from var(--color-seed-complimentary) h s calc(l + 10));
}

html[data-theme="dark"] {
  --header-bg: var(--color-card);
  --header-color: hsl(
    from var(--color-seed-complimentary) h calc(s - 30) calc(l - 10)
  );
}

body {
  line-height: var(--bodyLineHeight);
  padding: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  * {
    font-size: var(--fontSize-md);
    box-sizing: border-box;
  }
}

header {
  padding: 3rem 0 1rem 0;
  margin-bottom: var(--space-xl);
  background: var(--header-bg);

  h1 {
    color: var(--header-color);
    filter: drop-shadow(2px 4px 3px hsl(0 0 0 / 0.1));
  }
}

.container {
  @include mixins.flex-col(var(--space-xl));
  max-width: 1136px;
  margin: 0 auto;
}

h1 {
  line-height: var(--headingLineHeight);
  font-size: var(--fontSize-h1);
  color: var(--color-neutralContentStrong);
  letter-spacing: -0.022em;
  margin: 0;
}

h2 {
  line-height: var(--headingLineHeight);
  font-size: var(--fontSize-h2);
  color: var(--color-neutralContentSubdued);
  letter-spacing: -0.022em;
  margin: 0;
}

#intro {
  @include mixins.flex-row(var(--space-xl));
  p {
    margin: 0;
    color: var(--color-neutralContentStrong);
    flex: 1 1 0;
    min-width: 0;
    a {
      color: var(--color-accentContentStrong);
      &:hover {
        text-decoration: none;
      }
    }
    &:last-child {
      margin: 0;
    }
  }
}

#aside-and-main {
  @include mixins.flex-row(var(--space-xl));
  #settings {
    flex: 1 1 0;
  }
  main {
    flex: 5 1 0;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

#settings form,
#palette,
#demo {
  @include mixins.flex-col(var(--space-md));
}

form {
  .form-group {
    label {
      display: block;
      margin-bottom: var(--space-xs);
      color: var(--color-neutralContentStrong);
    }
    .input-hint {
      font-size: var(--fontSize-sm);
      color: var(--color-neutralContentSubdued);
      margin-top: var(--space-xs);
      line-height: 1.6;
      display: block;
      a {
        font-size: var(--fontSize-sm);
        color: var(--color-accentContentSubdued);
        line-height: 1.6;
      }
    }
  }
  .form-row {
    @include mixins.flex-row(var(--space-xs));
  }
  .or {
    @include mixins.flex-row(var(--space-md));
    margin: 0;
    span {
      font-size: var(--fontSize-sm);
      line-height: 1;
      text-transform: uppercase;
      color: var(--color-neutralContentSubdued);
      flex-grow: 0;
    }
    &:before,
    &:after {
      display: block;
      content: "";
      flex-grow: 1;
      height: 1px;
      position: relative;
      top: calc(var(--fontSize-sm) / 2);
    }
    &:before {
      background-image: linear-gradient(
        to right,
        transparent,
        var(--color-neutralNonContentSubdued)
      );
    }
    &:after {
      background-image: linear-gradient(
        to right,
        var(--color-neutralNonContentSubdued),
        transparent
      );
    }
  }

  summary {
    font-size: var(--fontSize-sm);
    margin-bottom: var(--space-sm);
    color: var(--color-neutralContentSubdued);
    line-height: 1;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    .material-symbols-rounded {
      font-size: var(--fontSize-xs);
      line-height: var(--bodyLineHeight);
      margin-right: var(--space-xs);
    }
  }
}

.decorated-input {
  position: relative;
  .mini-swatch {
    @include mixins.border-radius("sm");
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSoft);
    width: var(--space-lg);
    height: var(--space-lg);
    top: var(--space-sm);
    left: var(--space-sm);
    position: absolute;
    pointer-events: none;
    z-index: 2;
  }
  input[type="text"] {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  input[type="color"] {
    position: absolute;
    left: var(--space-sm);
    top: var(--space-sm);
    width: var(--space-lg);
    height: var(--space-lg);
    border: none;
    padding: 0;
    z-index: 1;
    @include mixins.border-radius("sm");
  }
  .btn {
    &.btn-trailing {
      @include mixins.border-radius("mx");
      padding: var(--space-sm);
      color: var(--color-neutralContentSubdued);
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      &:hover {
        background: var(--color-neutralNonContentSoft);
        color: var(--color-neutralContentStrong);
      }
      .material-symbols-rounded {
        display: block;
      }
    }
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  @include mixins.border-radius("md");
  background: var(--color-card);
  box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
  padding: var(--space-sm) calc(var(--space-md) * 0.75);
  color: var(--color-neutralContentStrong);
  line-height: var(--bodyLineHeight);
  border: none;
  flex-grow: 1;
  width: 100%;
  &:focus {
    outline: 2px solid var(--color-accentNonContentSubdued);
  }
}

.btn {
  @include mixins.border-radius("md");
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-accentNonContentStrong);
  color: var(--color-card);
  border: none;
  line-height: 1.6;
  text-decoration: none;
  &.btn-outlined {
    background: none;
    box-shadow: inset 0 0 0 1px var(--color-accentNonContentSubdued);
    color: var(--color-accentContentStrong);
    &:hover {
      background-color: var(--color-accentNonContentSoft);
    }
  }
  &.btn-soft {
    background: var(--color-accentNonContentSoft);
    color: var(--color-accentContentStrong);
    &:hover {
      background: color-mix(
        in oklab,
        var(--color-accentNonContentSoft),
        rgba(0, 0, 0, 0) 50%
      );
    }
  }
  &.btn-select {
    background: none;
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
    color: var(--color-neutralContentStrong);
    text-align: left;
    position: relative;
    width: 100%;
    &:hover {
      background: var(--color-neutralNonContentSoft);
    }
    &:after {
      display: block;
      font-family: "Material Symbols Rounded";
      content: "keyboard_arrow_down";
      position: absolute;
      top: 8px;
      right: 10px;
    }
  }
  &.btn-block {
    width: 100%;
  }
  &:hover {
    background: color-mix(
      in oklab,
      var(--color-accentNonContentStrong),
      white 15%
    );
  }
}

main {
  @include mixins.flex-col(var(--space-xl));
}

#palette {
  @include mixins.flex-col(var(--space-md));
  @include mixins.border-radius("md");

  .heading {
    @include mixins.flex-row(var(--space-md));
    h2 {
      flex: 1 1 auto;
    }
  }

  #toggleMode {
    @include mixins.border-radius("md");
    @include mixins.flex-row(0);
    display: inline-flex;
    width: auto;
    flex: 0 1 auto;
    background: var(--color-neutralNonContentSoft);
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
    .btn {
      .material-symbols-rounded {
        font-size: var(--space-md);
        line-height: var(--bodyLineHeight);
        width: var(--bodyLineHeight);
        margin-right: var(--space-xs);
        margin-left: calc(var(--space-sm) * -1);
        float: left;
        display: block;
      }
      &[data-state="off"] {
        background: none;
        color: var(--color-neutralContentSubdued);
        &:hover {
          color: var(--color-neutralContentStrong);
          background: var(--color-neutralNonContentSoft);
        }
      }
      &[data-state="on"] {
        background: var(--color-card);
        color: var(--color-neutralContentStrong);
        box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
        &:hover {
          filter: brightness(115%);
        }
        .material-symbols-rounded {
          font-variation-settings:
            "FILL" 1,
            "wght" 300,
            "GRAD" 0,
            "opsz" 24;
        }
      }
    }
  }

  .palette-group {
    @include mixins.flex-col(var(--space-sm));
    @include mixins.border-radius("md");
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
    padding: var(--space-md);
  }

  .palette-heading {
    @include mixins.font-size("md");
    color: var(--color-neutralContentSubdued);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    display: block;
  }

  .accent-color-group {
    position: relative;

    #accentColorPicker {
      position: absolute;
      top: 0;
      // width: 1px;
      aspect-ratio: 1;
      height: 100%;
      border: 1px solid red;
      padding: 0;
    }
  }

  .color-swatch {
    position: relative;
    margin: 0;
    isolation: isolate;

    figcaption {
      @include mixins.font-size("sm");
      margin-bottom: var(--space-sm);
      color: var(--color-neutralContentSubdued);
      line-height: 1;
      text-align: center;
    }

    .sample {
      --width: 30px;
      --start: 150px;
      --gap: 20px;
      position: absolute;
      bottom: -10px;
      right: var(--start);
      width: var(--width);
      height: var(--width);
      z-index: 2;
      @include mixins.border-radius("md");
      // box-shadow:
      //   0 0 0 5px var(--color-accentContentBaseline),
      //   0 0 0 7px white;

      &.accent-contrast {
        background-color: var(--color-seed-complimentary);
      }

      &.accent-triad-two {
        right: calc(var(--start) - (var(--width) + var(--gap)));
        background-color: var(--color-seed-triad-two);
      }

      &.accent-triad-three {
        right: calc(var(--start) - ((var(--width) + var(--gap)) * 2));
        background-color: var(--color-seed-triad-three);
      }
    }
  }

  .row {
    @include mixins.flex-row(var(--space-xs));
    > * {
      flex-grow: 1;
      width: 100%;
    }
  }

  .col {
    @include mixins.flex-col(var(--space-md));
  }

  .swatch {
    @include mixins.border-radius("sm");
    height: 3rem;
    width: 100%;
    border: none;
    padding: 0;
    overflow: hidden;
    position: relative;
    .value {
      @include mixins.border-radius("sm");
      color: var(--color-neutralContentStrong);
      cursor: pointer;
      font-size: var(--fontSize-sm);
      padding: 0 var(--space-xs);
      box-shadow: 0 0 0 1px var(--color-neutralNonContentSoft);
      font-size: var(--fontSize-xs);
      font-family: monospace, monospace;
      background: #fff;
      white-space: nowrap;
      display: inline-block;
      z-index: 3;
      position: absolute;
      bottom: 0.125rem;
      left: 0.125rem;
      content: "";
    }
    .color {
      @include mixins.border-radius("md");
      box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSoft);
      display: block;
      height: 100%;
      width: 100%;
      z-index: 2;
      position: relative;
    }
    &:after {
      z-index: 1;
      display: block;
      width: 50%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      background: conic-gradient(
        var(--color-card) 90deg,
        var(--color-neutralNonContentSoft) 90deg 180deg,
        var(--color-card) 180deg 270deg,
        var(--color-neutralNonContentSoft) 270deg
      );
      background-repeat: repeat;
      background-size: var(--space-md) var(--space-md);
      background-position: top left;
    }
  }
  .ui-swatches {
    .swatch {
      height: 6rem;
    }
  }

  #nonContentGroup {
    flex: 3 1 0;
  }
  #contentGroup {
    flex: 2 1 0;
  }
}

#seed > .color {
  background-color: var(--color-seed);
}
#canvas > .color {
  background-color: var(--color-canvas);
}
#card > .color {
  background-color: var(--color-card);
}
#accentNonContentBaseline > .color {
  background-color: var(--color-accentNonContentBaseline);
}
#accentContentBaseline > .color {
  background-color: var(--color-accentContentBaseline);
}
#accentNonContentSoft > .color {
  background-color: var(--color-accentNonContentSoft);
}
#accentNonContentSubdued > .color {
  background-color: var(--color-accentNonContentSubdued);
}
#accentNonContentStrong > .color {
  background-color: var(--color-accentNonContentStrong);
}
#accentContentSubdued > .color {
  background-color: var(--color-accentContentSubdued);
}
#accentContentStrong > .color {
  background-color: var(--color-accentContentStrong);
}
#neutralNonContentSoft > .color {
  background-color: var(--color-neutralNonContentSoft);
}
#neutralNonContentSubdued > .color {
  background-color: var(--color-neutralNonContentSubdued);
}
#neutralNonContentStrong > .color {
  background-color: var(--color-neutralNonContentStrong);
}
#neutralContentSubdued > .color {
  background-color: var(--color-neutralContentSubdued);
}
#neutralContentStrong > .color {
  background-color: var(--color-neutralContentStrong);
}

#canvas {
  @include mixins.border-radius("md");
  @include mixins.flex-row(var(--space-lg));
  padding: var(--space-lg);
  background-color: var(--color-canvas);
  > .col {
    @include mixins.flex-col(var(--space-lg));
    flex: 1 1 0;
    min-width: 0;
  }

  .material-symbols-rounded {
    font-size: var(--fontSize-lg);
    font-variation-settings:
      "FILL" 0,
      "wght" 300,
      "GRAD" 0,
      "opsz" 24;
  }

  .card {
    @include mixins.border-radius("md");
    @include mixins.elevation("high");
    background-color: var(--color-card);
    padding: var(--space-md);
    > * {
      margin-bottom: var(--space-md);
      &:last-child {
        margin: 0;
      }
    }
  }

  a {
    color: var(--color-accentContentStrong);
    &:hover {
      text-decoration: none;
    }
  }

  .menu {
    @include mixins.border-radius("md");
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
    padding: 0;
    margin: 0 0 inherit;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        display: block;
        padding: var(--space-sm) calc(var(--space-md) * 0.75);
        text-decoration: none;
        color: var(--color-neutralContentSubdued);
        &:hover {
          color: var(--color-neutralContentStrong);
          background: var(--color-neutralNonContentSoft);
        }
      }
      &.selected {
        a {
          background: var(--color-accentNonContentSoft);
          color: var(--color-neutralContentStrong);
        }
      }
    }
  }

  .alert {
    @include mixins.flex-row(var(--space-md));
    @include mixins.border-radius("md");
    color: var(--color-accentContentStrong);
    background: var(--color-accentNonContentSoft);
    padding: calc(var(--space-md) * 0.75) var(--space-md);
    .material-symbols-rounded {
      color: var(--color-accentContentStrong);
      font-size: var(--space-md);
      line-height: var(--bodyLineHeight);
    }
  }

  .tag {
    @include mixins.border-radius("mx");
    color: var(--color-accentContentStrong);
    background: var(--color-accentNonContentSoft);
    padding: 0 var(--space-sm);
    font-size: var(--fontSize-sm);
    line-height: var(--bodyLineHeight);
    display: inline-block;
    &.tag-outlined {
      box-shadow: inset 0 0 0 1px var(--color-accentNonContentSubdued);
      background: none;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    appearance: none;
    background: var(--color-card);
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
    height: var(--space-md);
    width: var(--space-md);
    vertical-align: text-bottom;
    position: relative;
    margin: calc((var(--bodyLineHeight) - var(--space-md)) / 2) 0;
    &:before {
      content: "";
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      top: 0;
    }
  }
  input[type="checkbox"] {
    @include mixins.border-radius("sm");
    &:checked {
      background: var(--color-accentNonContentStrong);
      box-shadow: none;
      &:before {
        border-right: 0.125rem solid var(--color-card);
        border-bottom: 0.125rem solid var(--color-card);
        height: 50%;
        width: 25%;
        transform: rotate(45deg);
        margin-top: 12.5%;
        margin-left: 30%;
      }
    }
    &[role="switch"] {
      @include mixins.border-radius("mx");
      color: var(--color-card);
      background: var(--color-neutralNonContentSubdued);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      font-size: inherit;
      width: var(--space-lg);
      vertical-align: text-bottom;
      box-shadow: none;
      &:before {
        @include mixins.border-radius("mx");
        background: var(--color-card);
        content: "";
        border: none;
        transform: none;
        margin: 1px;
        width: calc(var(--space-md) - 2px);
        height: calc(var(--space-md) - 2px);
        position: absolute;
      }
      &:checked {
        background: var(--color-accentNonContentStrong);
        &:before {
          right: 0;
          left: auto;
        }
      }
    }
  }
  input[type="radio"] {
    @include mixins.border-radius("mx");
    &:checked {
      box-shadow: inset 0 0 0 1px var(--color-accentNonContentStrong);
      &:before {
        @include mixins.border-radius("mx");
        background: var(--color-accentNonContentStrong);
        margin: 4px;
      }
    }
  }

  .media {
    @include mixins.flex-row(var(--space-md));
    img {
      @include mixins.border-radius("md");
      display: block;
      width: 2.8418rem;
      height: 2.8418rem;
    }
  }

  .text-pair {
    &.text-pair-md-sm {
      padding-bottom: 0.2434rem;
    }
    .text-md {
      color: var(--color-neutralContentStrong);
    }
    .text-sm {
      @include mixins.font-size("sm");
      color: var(--color-neutralContentSubdued);
    }
  }

  .toolbar {
    @include mixins.flex-row(0);
    @include mixins.border-radius("md");
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSubdued);
    overflow: hidden;
    .btn-group {
      @include mixins.flex-row(0);
      border-right: 1px solid var(--color-neutralNonContentSubdued);
      .btn {
        background: none;
        padding: var(--space-sm);
        span {
          color: var(--color-neutralContentStrong);
          width: var(--bodyLineHeight);
          line-height: var(--bodyLineHeight);
          display: block;
          text-align: center;
        }
        &:hover {
          background-color: var(--color-neutralNonContentSoft);
        }
      }
      &:last-child {
        border: none;
      }
    }
  }

  .toast {
    @include mixins.border-radius("md");
    @include mixins.elevation("high");
    padding: calc(var(--space-md) * 0.75) var(--space-md);
    color: var(--color-card);
    background: var(--color-neutralContentStrong);
  }

  .nav {
    &.nav-tabs {
      @include mixins.flex-row(0);
      box-sizing: border-box;
      border-bottom: 1px solid var(--color-neutralNonContentSubdued);
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
        a {
          display: block;
          padding: 8px 10px;
          text-decoration: none;
          position: relative;
          color: var(--color-neutralContentSubdued);
          &:hover {
            color: var(--color-neutralContentStrong);
            background: var(--color-neutralNonContentSoft);
          }
        }
        &.selected {
          a {
            color: var(--color-neutralContentStrong);
            &::after {
              display: block;
              content: "";
              height: 2px;
              width: 100%;
              bottom: 0;
              left: 0;
              position: absolute;
              background: var(--color-accentNonContentStrong);
            }
          }
        }
      }
    }
  }

  .avatars {
    overflow: hidden;
    .avatar {
      @include mixins.border-radius("mx");
      width: var(--space-xl);
      height: var(--space-xl);
      line-height: var(--space-xl);
      margin-right: var(--space-sm);
      display: block;
      float: left;
      overflow: hidden;
      text-align: center;
      img {
        display: block;
        height: 100%;
        width: 100%;
      }
      &.avatar-solid {
        &.avatar-subdued {
          background: var(--color-accentNonContentSubdued);
        }
        &.avatar-strong {
          background: var(--color-accentNonContentStrong);
        }
        color: var(--color-card);
      }
      &.avatar-soft {
        &.avatar-subdued {
          color: var(--color-accentContentSubdued);
        }
        &.avatar-strong {
          color: var(--color-accentContentStrong);
        }
        background: var(--color-accentNonContentSoft);
      }
      &.avatar-icon {
        span {
          font-size: calc(var(--fontSize-md) * 1.5);
          font-variation-settings:
            "FILL" 1,
            "wght" 300,
            "GRAD" 0,
            "opsz" 24;
          line-height: var(--space-xl);
        }
        &.avatar-solid {
          span {
            color: var(--color-card);
          }
        }
        &.avatar-soft {
          &.avatar-subdued {
            span {
              color: var(--color-accentContentSubdued);
            }
          }
          &.avatar-strong {
            span {
              color: var(--color-accentContentStrong);
            }
          }
        }
      }
    }
  }

  hr {
    display: block;
    height: 0;
    width: 100%;
    border-bottom: 1 solid var(--color-neutralNonContentSubdued);
  }

  blockquote {
    padding: 0 0 0 var(--space-md);
    border-left: 4px solid var(--color-neutralNonContentSubdued);
    color: var(--color-neutralContentStrong);
    margin: 0;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .checkboxes {
    @include mixins.border-radius("md");
    background: var(--color-neutralNonContentSoft);
    padding: var(--space-md);
    .form-check {
      @include mixins.flex-row(var(--space-sm));
      input[type="checkbox"] {
        flex: none;
      }
      label {
        color: var(--color-neutralContentStrong);
      }
      &.form-check-struckout {
        label {
          color: var(--color-neutralContentSubdued);
          text-decoration: line-through;
        }
      }
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

[data-theme="light"] {
  body {
    background-color: #fff;
  }
  #palette .swatch .value {
    background: #fff;
  }
}
[data-theme="dark"] {
  body {
    background-color: #000;
  }
  #palette .swatch .value {
    background: #000;
  }
  #canvas .card {
    box-shadow: inset 0 0 0 1px var(--color-neutralNonContentSoft);
  }
}

.hidden-social-media-thumbnail {
  display: none;
}
